html
  head
    title= benchmark
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    script(src='/static/js/main.js')
    
  body
    div(class='container')
      div(class='row justify-content-md-center')
        div(class='col col-md-12')
          div(class='container')
            div(class='row')
              div(class='col')
                h2= 'Summary: ' + commit1Short + ' vs. ' + commit2Short
            div(class='row')
              div(class='col')
                span Summary | 
                for b in benchmarks
                  a(href='/' + commit1 + '/' + commit2 + '/' + b + '/' + startIteration)= b
                  if (benchmarks.indexOf(b) < benchmarks.length - 1)
                    span  | 
            div(class='row justify-content-md-center')
              div(class='col') !{plot}
            div(class='row justify-content-md-center')
              div(class='col')
                form
                  div(class='form-group')
                    label(for='formControlRange') Set start iteration: #{startIteration}
                    input(class='form-control-range', type='range', min=0, max=250, value=startIteration, onchange='minIterationChanged(this)')
