extends layout.pug

block content
  div(class='container-fluid')
    div(class='row')
      div(class='col')
        h2= benchmark + ': ' + commit.substr(0, 8) + ' (' + commitBranch + ', ' + commitDate + ')'
    div(class='row')
      div(class='col')
        a(href='/' + commit + '/' + startIteration) Summary
        span  | 
        for b in benchmarks
          if (b !== benchmark)
            a(href='/' + commit + '/' + b + '/' + startIteration)= b
          else
            span #{b}
          if (benchmarks.indexOf(b) < benchmarks.length - 1)
            span  | 
    div(class='row')
      div(class='col') !{plot}
    div(class='row')
      div(class='col')
        table(class='table table-sm table-hover', style='text-align: center;')
          thead(class='thead-dark')
            tr
              th Min
              th Geomean
              th Median
              th Mean
              th Max
          tbody
            tr
              td= round(stats.run1.min)
              td= round(stats.run1.geomean)
              td= round(stats.run1.median)
              td= round(stats.run1.mean)
              td= round(stats.run1.max)
    div(class='row justify-content-md-center')
      div(class='col')
        form
          div(class='form-group')
            label(for='formControlRange') Set start iteration: #{startIteration}
            input(class='form-control-range', type='range', min=0, max=250, value=startIteration, onchange='minIterationChanged(this)')
