extends layout.pug

block content
  div(class='container-fluid')
    div(class='row')
      div(class='col')
        h2= benchmark + ': ' + commit1.substr(0, 8) + ' vs. ' + commit2.substr(0, 8)
    div(class='row')
      div(class='col')
        a(href='/' + commit1 + '/' + commit2 + '/' + startIteration) Summary
        span  | 
        for b in benchmarks
          if (b !== benchmark)
            a(href='/' + commit1 + '/' + commit2 + '/' + b + '/' + startIteration)= b
          else
            span #{b}
          if (benchmarks.indexOf(b) < benchmarks.length - 1)
            span  | 
    div(class='row')
      div(class='col') !{plot}
    div(class='row')
      div(class='col')
        table(class='table table-sm table-hover', style='text-align: center;')
          thead(class='thead-dark')
            tr
              th Commit
              th Commit Date
              th Commit Branch
              th Min
              th Geomean
              th Median
              th Mean
              th Max
          tbody
            tr
              td= commit1.substr(0, 8)
              td= commit1Date
              td= commit1Branch
              td= round(stats.run1.min)
              td= round(stats.run1.geomean)
              td= round(stats.run1.median)
              td= round(stats.run1.mean)
              td= round(stats.run1.max)
            tr(style='color: red;')
              td= commit2.substr(0, 8)
              td= commit2Date
              td= commit2Branch
              td= round(stats.run2.min)
              td= round(stats.run2.geomean)
              td= round(stats.run2.median)
              td= round(stats.run2.mean)
              td= round(stats.run2.max)
            tr
              td
              td
              td
              td= round(stats.run1.min - stats.run2.min)
              td= round(stats.run1.geomean - stats.run2.geomean)
              td= round(stats.run1.median - stats.run2.median)
              td= round(stats.run1.mean - stats.run2.mean)
              td= round(stats.run1.max - stats.run2.max)
    div(class='row justify-content-md-center')
      div(class='col')
        form
          div(class='form-group')
            label(for='formControlRange') Set start iteration: #{startIteration}
            input(class='form-control-range', type='range', min=0, max=250, value=startIteration, onchange='minIterationChanged(this)')
